{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">

        {% if categories %}
        <p class="test-italic">Found {{categories|length}} results of {{message}}</p>
        {% else %}
        <p class="text-italic">sorry but I did not find any matching results with the name {{message}}</p>
        {% endif %}

    </div>

    <div class="row">

        
        {% if categories %}
        {% for category in categories %}
        <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
            {{ block.super }}
            <div class="card">
                <img src="{{category.image_url.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{category.image_name}}</h5>
                    <p class="card-text">{{category.image_description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock content %}